[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=root
Type=notify
ExecStart=/usr/bin/transmission-daemon -T -f --log-error --no-auth --logfile "{{ transmission.dir.core }}/current.log" --download-dir  "{{ transmission.dir.complete }}" --incomplete-dir "{{ transmission.dir.downloading }}"
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
