[Unit]
Description=Migrate completed torrents
After=transmission-daemon.service

[Service]
User=root
Type=simple
ExecStart=/bin/bash -c 'node {{ transmission.dir.install }}/migrate-downloaded-torrents.js'
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
