{{ note.cfg }}

[default]
{% if aws.access_key is defined %}
aws_access_key_id={{ aws.access_key }}
{% endif %}
{% if aws.access_pass is defined %}
aws_secret_access_key={{ aws.access_pass }}
{% endif %}

